<section class="markdown-body">
    <p class="text-reward">觉得文章不错就支持一下呗～</p>
    <!-- <p class="text-reward">ETH: 0xF230669d4B13DAfAccc46BfA62BAE6f2255a305B</p> -->
    <img class="qr" src="/assets/img/post/pay-qr.jpg" alt="打赏二维码">
    
    <p class="text-reward">本文版权归 June 所有，采用 <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">CC BY-NC-ND 4.0 国际许可协议</a>授权。</p>
    <p class="text-reward">非商业转载请注明作者及原文链接，禁止改编及用于商业用途，商业合作请联系：<a href="mailto:yula.qian@gmail.com">yula.qian@gmail.com</a></p>

</section>
<style>
section {
    margin: 0 auto 20px auto;
}
.text-reward {
   text-align: center;
    margin: 20px auto;
    padding: 0 10px;
    word-break: break-all;
}
.qr{
    margin: 0 auto;
    display: block;
}
</style>
